* {
  box-sizing: border-box;
}

.mar-bottom {
  margin-bottom: 2rem;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes pulse-color {
  0% {
    background: midnightblue;
  }
  50% {
    background-color: white;
  }
  100% {
    background: midnightblue;
  }
}

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 16px;
  background: linear-gradient(to bottom, indigo, midnightblue);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/*  Flash white when photo is in progress */
body.pose {
  animation: pulse-color 1s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

body.error {
  background-color: deeppink;
}

body.pose #statustext,
body.ready #statustext {
  animation: pulse 1s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.status-text {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: deeppink;
  font-size: 64px;
}

main {
  margin-bottom: 2rem;
}

main a,
footer a {
  font-weight: bold;
  color: white;
}

footer {
  padding: 1rem;
}

.sms-status-header {
  margin-bottom: 6rem;
  margin-top: 4rem;
  font-size: 3rem;
}

/*  BUTTON STYLING */
.btn {
  display: inline-block;
  height: 60px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  background: deeppink;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  border: none;
  outline: none;
  text-align: center;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: mediumvioletred;
  color: white;
}

.btn:disabled {
  background: gray;
}

/* page header */
header {
  padding: 1rem 0;
}

header h1 {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: deeppink;
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: -1px 1px 0 pink, -2px 2px 0 pink, -3px 3px 0 pink,
    -4px 4px 0 pink, -5px 5px 0 pink, -6px 6px 0 pink, -7px 7px 0 pink,
    -8px 8px 0 pink, -9px 9px 0 pink, -10px 10px 0 pink, -11px 11px 0 pink,
    -12px 12px 0 pink, -13px 13px 0 pink, -14px 14px 0 pink,
    -4px 1rem 1em deeppink, -4px 1rem 2em deeppink;
}

header h1 span {
  text-stroke: 1px white;
  -webkit-text-stroke: 1px white;
  color: inherit;
  text-decoration: none;
}

.header-intro {
  margin-top: 0;
  margin-bottom: -1rem;
  font-size: 2rem;
  font-style: italic;
  font-family: cursive;
  color: pink;
}

.preview-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.7);
}

.preview-wrapper.active {
  display: block;
}

.links {
  vertical-align: top;
}
@media screen and (max-width: 991px) {
  .links {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 992px) {
  .links {
    display: inline-block;
    margin-left: 2.5rem;
  }
}

.preview {
  max-height: calc(100% - 100px);
}
@media screen and (max-width: 991px) {
  .preview {
    width: 60%;
  }
}

.preview-download-btn {
  display: none;
}

.send-gif_container {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 992px) {
  .send-gif_container {
    margin-bottom: 200px;
  }
}

.send-gif_header {
  font-size: 2rem;
}

.send-gif_input {
  border: none;
  outline: none;
  display: inline-block;
  height: 60px;
  padding: 0.625rem;
  font-size: 20px;
}
@media screen and (max-width: 991px) {
  .send-gif_input {
    max-width: 60%;
    width: 100%;
  }
}

.send-gif_social-text {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

video {
  display: none;
}

.video-mirror-container {
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  border: 0 none;
  padding: 0 0 1.4rem 1.4rem;
  background: pink;
  position: relative;
  color: #000;
  font-size: 1rem;
  /* fallback cube effect for when clip-path isn't available */
  background-image: linear-gradient(
      -45deg,
      midnightblue 0.98rem,
      transparent 1rem
    ),
    linear-gradient(135deg, midnightblue 0.98rem, transparent 1rem);
}
@media screen and (min-width: 992px) {
  .video-mirror-container {
    max-width: 625px;
  }
}

/* more modern way to do cube effect */
@supports (-webkit-clip-path: polygon(0 0, 100% 0, 0 100%)) or
  (clip-path: polygon(0 0, 100% 0, 0 100%)) {
  .video-mirror-container {
    background-image: none;
    -webkit-clip-path: polygon(
      1.4rem 0,
      100% 0,
      100% calc(100% - 1.4rem),
      calc(100% - 1.4rem) 100%,
      0 100%,
      0 1.4rem
    );
    clip-path: polygon(
      1.4rem 0,
      100% 0,
      100% calc(100% - 1.4rem),
      calc(100% - 1.4rem) 100%,
      0 100%,
      0 1.4rem
    );
  }
}

.video-mirror {
  background: #fff;
  padding: 1.25rem;
  border: 1px solid deeppink;
  width: 100%;
}
